db/
doc/220623_dmFaults_Planung.pptx
src/Unibe_lines_transformed.xtf
src/Unibe_point1_transformed.xtf
src/Unibe_Sandro_lines_transformed.xtf
src/Unifr_lines_transformed.xtf
src/220629_errors_data_Sandro.xml