db/
doc/220623_dmFaults_Planung.pptx
src/Unifr_lines_faultREF.xtf
src/Unibe_lines.xtf
src/Unibe_points.xtf
src/Unibe_Sandro.xtf
src/Unifr_lines.xtf
src/Unifr_lines_faultREF.xtf
src/220629_errors_data_Sandro.xml